<div class="flex flex-col gap-2">
  <p class="text-sm text-gray-300">{{ data.labelKey | translate }}</p>
  @for (item of data.data; track item.id) {
    <div
      class="flex cursor-pointer items-center rounded-lg p-2 hover:bg-[#212121]"
      tabindex="0"
      (click)="onClick(item.id, data.type)"
    >
      <mat-icon
        *ngIf="item.icon?.iconType"
        class="!ml-0 mr-2"
        [ngClass]="{ '!text-white': data.type !== 'member' }"
        [class]="item.icon?.class || ''"
        >{{ item.icon?.iconType }}</mat-icon
      >
      <span class="text-white">{{ item.name }}</span>
    </div>
  }
</div>
