<div class="h-full">
  <div class="fixed inset-y-0 z-10 hidden h-full w-60 flex-col md:flex">
    @if (isLoading$ | async) {
      <app-server-sidebar-loading-skeleton />
    } @else {
      <app-server-sidebar
        *ngIf="serverAndUser$ | async as data"
        [server]="data.server"
        [user]="data.user"
      />
    }
  </div>
  <main
    class="relative h-screen bg-white dark:bg-[#313338] md:ml-60"
  >
    @if (isLoading$ | async) {
      <app-loading-spinner center size="large" />
    } @else {
      <router-outlet />
    }
  </main>
</div>
