@if (servers$ | async; as servers) {
  <div
    class="text-primary flex h-screen w-full flex-col items-center space-y-4 bg-[#E3E5E8] py-3 dark:bg-[#1E1F22]"
  >
    <app-navbar-action />
    <mat-divider class="mx-auto h-[2px] w-10 bg-zinc-300 dark:bg-zinc-700" />
    <div class="w-full flex-1 overflow-y-auto">
      @for (server of servers; track server.id) {
        <div class="mb-4">
          <app-navbar-item
            [id]="server.id"
            [name]="server.name"
            [imageUrl]="server.imageUrl"
            [activeStoreId]="activeStoreId$ | async"
          />
        </div>
      }
    </div>
    <div class="mt-auto flex flex-col items-center gap-y-4 pb-3">
      <app-user-button />
    </div>
  </div>
}
