<div
  class="text-primary flex h-screen w-full flex-col bg-[#F2F3F5] dark:bg-[#2B2D31]"
>
  <app-section-title-skeleton />
  <mat-divider class="h-[1px] bg-zinc-300 dark:bg-zinc-700" />
  <div class="h-12"></div>
  <mat-divider
    class="h-[2px] w-11/12 self-center bg-zinc-300 dark:bg-zinc-700"
  />
  <div class="flex-1 overflow-y-auto">
    <app-section-title-skeleton />
    <app-sidebar-channel-skeleton withLockIcon />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />

    <app-section-title-skeleton />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />
    <app-sidebar-channel-skeleton />
  </div>
</div>
