<div class="relative grid min-w-[350px] bg-white gap-2 rounded-lg transition sm:min-w-[450px]">
  <div mat-dialog-title class="flex px-5 py-3">
    <div class="mt-4 flex w-full flex-col">
      <h2
        class="text-center text-2xl font-semibold leading-none tracking-tight"
      >
        <ng-content select="app-modal-title"></ng-content>
      </h2>
      <h2 class="py-2 text-center text-sm text-gray-500">
        <ng-content select="app-modal-subtitle"></ng-content>
      </h2>
    </div>
    <mat-icon
      class="mdi-medium absolute right-2 top-2 cursor-pointer hover:opacity-70"
      (click)="closeDialog()"
      >close</mat-icon
    >
  </div>

  <div class="p-5 pt-0">
    <div mat-dialog-content>
      <ng-content select="app-modal-body"></ng-content>
    </div>
  </div>

  @if (showActions) {
    <div class="bg-gray-100 px-6 py-4" mat-dialog-actions>
      <ng-content select="app-modal-footer"></ng-content>
    </div>
  }
</div>
