<div class="relative mb-2 p-4">
  <div
    class="absolute left-8 top-1/2 flex -translate-y-1/2 transform cursor-pointer items-center rounded-full bg-zinc-500 p-1 transition hover:bg-zinc-600 dark:bg-zinc-400 dark:hover:bg-zinc-300"
  >
    <mat-icon class="mdi-medium">add</mat-icon>
  </div>
  <input
    class="h-12 w-full rounded-md border-0 border-none bg-zinc-200/90 px-14 py-6 text-zinc-600 focus-visible:ring-0 focus-visible:ring-offset-0 dark:bg-zinc-700/75 dark:text-zinc-200"
    (keydown.enter)="onSendMessage()"
    [placeholder]="
      'content.message-name'
        | translate: { name: type === 'conversation' ? name : '#' + name }
    "
    [(ngModel)]="inputValue"
  />
  <div class="absolute right-8 top-1/2 h-[30px] -translate-y-1/2">
    <mat-icon
      class="mdi-large cursor-pointer text-zinc-200"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
      >sentiment_satisfied</mat-icon
    >
  </div>
</div>
<mat-menu
  #menu="matMenu"
  yPosition="above"
  class="!max-w-max !rounded-lg bg-transparent"
>
  <div (click)="$event.stopPropagation()">
    <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
  </div>
</mat-menu>
