<div
  class="rounded-full"
  [ngClass]="{
    'h-9 w-9': size === 'small',
    'h-10 w-10': size === 'medium',
    'h-12 w-12': size === 'large'
  }"
>
  @if (user.imageUrl) {
    <img
      class="h-full w-full rounded-full"
      src="{{ user.imageUrl }}"
      alt="Profile image for {{ user.name }}"
    />
  } @else {
    <span
      class="flex h-full w-full items-center justify-center rounded-full bg-violet-500 font-normal text-white"
      [ngClass]="{
        'text-base': size === 'small',
        'text-lg': size === 'medium',
        'text-xl': size === 'large'
      }"
    >
      {{ getUserInitials(user.name) }}
    </span>
  }
</div>
